<style>*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#f1edea;
  color:#2a2a2a;
}


.navbar{
  background:#2b16b6;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 60px;
  
}

.logo{
  text-align:center;
  font-size:40px;
  line-height:1.1;
}

.contact-btn{
background:transparent;
  border:2px solid white;
  padding:10px 25px;
  color:white;
  cursor:pointer;
}


.hero{
  display:flex;
  padding:60px;
  gap:40px;
}

.text{
 width: 50%;
}

h2{
  font-size:80px;
  color:#2b16b6;
  margin-bottom:20px;
}

p{
  font-size:32px;
  margin-bottom:20px;
  line-height:1.6;
  width: 60%;
}


.circle{
  border-radius:50%;
}

.services{
  display:flex;
  justify-content:center;
  gap:80px;
  padding:80px 0;
}

.service-item{
  text-align:center;
}


.service-item img{
  width:300px;
  height:350px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:20px;
  
}

.service-item button{
  background:#2b16b6;
  color:white;
  border:none;
  padding:34px 80px;
  cursor:pointer;
  font-size:30px;
}

footer{
  text-align:center;
  padding:30px;
  color:#2b16b6;
  font-weight:bold;
}
@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }
  .hero-text, .hero-images{
    width:100%;
  }
  .services{
    flex-direction:column;
    gap:30px;
  }



.hero-images{
  position:absolute;
  width:260px;
  height:260px;
  margin-left:900px;
  margin-top: 300px;
}



</style>
