  <style>
  {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#f4efe9;
  color:#333;
}


.navbar{
  background:#2516c7;
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:20px 8%;
  flex-wrap:wrap;
}

.rating{
  font-size:14px;
}

.rating span{
  font-size:12px;
  margin-left:5px;
}

.logo{
  font-size:32px;
  text-align:center;
  line-height:1.1;
}

.nav-btn{
  background:transparent;
  border:2px solid white;
  color:white;
  padding:10px 25px;
  cursor:pointer;
}


.hero{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  padding:80px 8%;
  gap:40px;
  flex-wrap:wrap;
}

.hero-text{
  flex:1 1 400px;
}

.hero-text h1{
  font-size:52px;
  color:#2516c7;
  margin-bottom:25px;
  line-height:1.1;
}

p{
  margin-bottom:20px;
  line-height:1.7;
  font-size:30px;
}


.hero-images{
  position:relative;
  flex:1 1 400px;
  height:420px;
}

.circle-img{
  width:320px;
  height:320px;
  border-radius:50%;
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

.square-img{
  width:260px;
  height:260px;
  object-fit:cover;
  position:absolute;
  bottom:0;
  right:0;
  z-index:1;
}


.services{
  display:flex;
  justify-content:center;
  gap:70px;
  padding:80px 8%;
  flex-wrap:wrap;
}

.service{
  text-align:center;
}

.service img{
  width:300px;
  height:300px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:15px;
}

.service button{
  background:#2516c7;
  color:white;
  border:none;
  padding:12px 35px;
  cursor:pointer;
  font-size:20px;
}


footer{
  text-align:center;
  padding:30px;
  color:#2516c7;
  font-weight:bold;
}

@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-images{
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
  }

  .circle-img,
  .square-img{
    position:static;
    width:80%;
    height:auto;
  }

  .logo{
    margin:10px 0;
  }
}
  </style>
